@import './Variables.module.scss';

.background {
  display: inline-block;
  aspect-ratio: 1;
  width: 80%;
  border: none;
  border-radius: 100%;
  background-color: white;
  box-shadow: inset 0px 10px rgb(220, 220, 220);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  aspect-ratio: 1;
  height: 70%;
  transition: all 300ms ease-in;

  &:active {
    filter: brightness(0.8);
  }
}

.activeSC {
  transform: translate(-190%, 45%);
  scale: 1.5;
}

.activeP {
  transform: translate(-70%, 45%);
  scale: 1.5;
}

.activeR {
  transform: translate(-130%, -50%);
  scale: 1.5;
}

.activeHouse {
  position: absolute;
  transform: translate(130%, -50%);
  scale: 1.5;
}

.hidden {
  opacity: 0;
  scale: 0;
}

.border {
  aspect-ratio: 1;
  height: 100%;
  display: inline-block;
  border: none;
  border-radius: 100%;
}

.yellow {
  background: $yellow-gradient;
  box-shadow: 0 10px rgba($yellow, 0.7);
}

.blue {
  background: $blue-gradient;
  box-shadow: 0 10px rgba($blue, 0.7);
}

.red {
  background: $red-gradient;
  box-shadow: 0 10px rgba($red, 0.7);
}

.top {
  aspect-ratio: 2 / 1;
  width: 100%;
  height: 50%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 50%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle {
  margin: 0 auto;
  position: relative;
  aspect-ratio: 1;
  height: 75vh;
  max-width: 75vw;

  display: flex;
  flex-direction: column;
  transition: all 100ms ease-out;
}

.bgTriangle {
  margin: auto auto;
  width: 70%;
}

.playAgain {
  display: block;
  position: absolute;
  font-size: 60px;
  bottom: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms ease-out;

  text-align: center;
}

.playAgainBtn {
  padding: 15px 50px;
  border-radius: 20px;
  font-size: 40px;

  transition: all 200ms ease-out;

  &:hover {
    transform: translate(0, 3%);
    color: red;
    filter: brightness(0.9);
  }
}

.p {
  text-transform: uppercase;
  position: absolute;
  font-weight: 600;
  font-size: 30px;
  top: 20px;
  text-align: center;
}

.userPick {
  left: -230px;
}

.housePick {
  right: -255px;
}
