.app {
  display: block;
  width: 100vw;
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
  color: white;
}

.button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  color: white;
  background-color: transparent;
  border: none;
  transition: 0.5s;

  &:hover {
    color: red;
  }
}
